:root {
    --wrap-bg-color: #f3e5e5;
    --nav-bg-color: #eae3d1;
    --main-bg-color: #fff;




}
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;

}
#wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--wrap-bg-color);
}
.main-content {
    padding: 0;
}

.header-container {
    width: 100%;
}

.top-navigation {
    width: 100%;
    margin: 0;
    padding: 0;
} 
.top-navigation .container {
    display: flex;
    flex-flow: row wrap;
    background-color:transparent;
    width: 100%;
    justify-content:left;
    margin: 0;
} 

header{      
    color: #333;
    display: inline-block;
    position: relative;
    padding: 0 1em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#username {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#big-menu {
    display: none;
    font-weight: lighter;
}
#small-menu {
    position: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
}

#menubar {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: 0;
    padding: 5px 0;
    margin: 0;
    z-index: 9999;
}

#menu-list {
    display: none;
    background-color: var(--nav-bg-color);
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
#menu-list.open {
    display: block;
    margin: 0;
}
#menu-list.open li{
    display: block;
    padding: 3px;
    text-align: center;
    margin-right: 0;
    letter-spacing: 0.1em;
    border-bottom: none;
    padding: 0;
    font-size: 18px;
}
#menu-list a {
    color: #0c0c0c;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;    
}
#menu-list a:hover {
    text-decoration: underline;
}

.page-active{
    font-weight: bold;
}

main {
    color: #111111;
    margin: 0 auto;
    padding: 0.5em 0.5em 1em 0.5em;
    background-color: var(--main-bg-color);
}

form {
    margin-bottom:10px;
}

.image-container {
    width: 100%;
    padding: 5px;
}
.food-image img {
    width: 100%;
}

canvas {
    display: block;
}

.chart-container {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-section {
    border-radius: 4px;
    display: block;
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.question-section.success fieldset {
    border: none;
}
.question-section.error fieldset {
    border: 2px solid #ff3860;
}
.question-section .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.hide-id {
    display: none;
}
.hide {
    display: none;
}

.question-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flex-chart{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    align-items: left;
}

.popup {
    width: 400px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 0 20px 20px;
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
}

.poppedup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 9999;
}
.popup img {
    width: 125px;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup .btn {
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

footer {
    bottom: 0;
    background-color: #545151;
    color: #ffffff;
    font-size: 80%;
    text-align: center;
    padding: 0;
}

footer a{
    color: #FFFF00;
}
footer p{
    padding: 0;
    margin: 0;
    line-height: 150%;
}

@media (min-width: 650px) {
    #wrapper {
        padding: 0 0;
        font-size: 18px;
    }
    main {
        margin: 0;
    }
    #big-menu {
        display: block;
        background-color: #eae3d1;
        padding: 0;
    }
    #big-menu ul {
        list-style-type: none;
        border-top: 1px solid #eeeeee;
        display: flex;
        flex-flow: row nowrap;
        justify-content:left;
        margin: 0;
        padding-left: 0;
    }
    
    #big-menu li {
        text-align: center;
        letter-spacing: 0.1em;
        border-bottom: none;
        padding: 0;
        font-size: 18px;
    }
    #big-menu a {
        margin: 0;
        color: #0c0c0c;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
     
    #big-menu li a {
        width: 120px;
        padding: 10px;
    }
    #big-menu a:hover {
        text-decoration: underline;
    }
    
    #menubar {
        display: none;
    }
    #small-menu {
        display: none;
    }

    .chart-container {
        width: 440px;
        height: 300px;
        /* background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@media (min-width: 992px) {
    #wrapper {
        padding: 0 0;
        font-size: 18px;
    }
    main {
        margin: 0;
    }
    .main-content {
        padding: 0 5%;
    }
    #big-menu {
        display: block;
        background-color: #eae3d1;
        padding: 0;
    }
    #big-menu ul {
        list-style-type: none;
        border-top: 1px solid #eeeeee;
        display: flex;
        flex-flow: row nowrap;
        justify-content:center;
        margin: 0;
    }
    
    #big-menu li {
        text-align: center;
        letter-spacing: 0.1em;
        border-bottom: none;
        padding: 0;
        font-size: 18px;
    }
    #big-menu a {
        margin: 0;
        color: #0c0c0c;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
     
    #big-menu li a {
        width: 120px;
        padding: 10px;
    }
    #big-menu a:hover {
        text-decoration: underline;
    }
    
    #menubar {
        display: none;
    }
    #small-menu {
        display: none;
    }

    .chart-container {
        width: 440px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
