<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumplings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/javascript/basic.js"></script>
    {% block additional_js %}

    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Dumplings</h1>
            <div>
                {% if session['username'] %}
                    <p id="username">Welcome, {{ session['username'] }}</p>
                {% endif %}
            </div>
        </header>
        <div id="small-menu">
            <button type="button" id="menubar" onclick="menuBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
            </button>
            <ul id="menu-list">
                <li>
                    <a href="{{ url_for('index') }}" class="dark-peach">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('questionnaire') }}" class="dark-peach">Qustionnaire</a>
                </li>
                {% if session['username'] %}
                    <li>
                        <a href="{{ url_for('questionnaire_result') }}" class="dark-peach">Result</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="dark-peach">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login') }}" class="dark-peach">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="big-menu">
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}" class="dark-peach">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('questionnaire') }}" class="dark-peach">Qustionnaire</a>
                    </li>
                    {% if session['username'] %}
                        <li>
                            <a href="{{ url_for('questionnaire_result') }}" class="dark-peach">Result</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}" class="dark-peach">Log out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login') }}" class="dark-peach">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <main>
            {# (Jinja comment) The block below will be replaced by each of the pages #}
            {% block main %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>© Copyright Yi-jung's UCD Ireland Payment Assignment 2024. All Rights Reserved. Please <a href="mailto:emilyichan3@gmail.com">Contact Me</a> for further queries.</p>
    </footer>
</body>
</html>