<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumplings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/script.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/ico/favicon.ico') }}">
    {% block additional_js %}

    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <div class="header-container">
            <header class="top-navigation">
                <div class="container">
                    <img src="/static/images/dumpling.png" alt="Dumpling">
                    <div class="header-content">
                        <h1>Dumplings</h1>
                        <p id="username">{% if session['username'] %} Welcome {{ session['username'] }} {% endif %}</p>
                    </div>
                    <button type="button" id="menubar" onclick="menuBar()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                </div>
            </header>
            <div class="menu-container">
                {% set navigation_bar_userlogin = [
                    ('/', 'index', 'Home'),
                    ('/questionnaire', 'questionnaire', 'Qustionnaire'),
                    ('/questionnaire_result', 'questionnaire_result', 'Result'),
                    ('/logout', 'logout', 'Log out')
                ] -%}
                {% set navigation_bar_userlogout = [
                    ('/', 'index', 'Home'),
                    ('/questionnaire', 'questionnaire', 'Qustionnaire'),
                    ('/login', 'login', 'Login')
                ] -%}
                {% set active_page = active_page|default('index') -%}
                <div id="big-menu">
                    <ul>
                        {% if session['username'] %}
                            {% for href, page_id, caption in navigation_bar_userlogin %}
                                <li {% if page_id == active_page %} class="page-active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for href, page_id, caption in navigation_bar_userlogout %}
                                <li {% if page_id == active_page %} class="page-active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div id="small-menu">
                    <ul id="menu-list">
                        {% if session['username'] %}
                            {% for href, page_id, caption in navigation_bar_userlogin %}
                                <li {% if page_id == active_page %} class="page-active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for href, page_id, caption in navigation_bar_userlogout %}
                                <li {% if page_id == active_page %} class="page-active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-content" class="main-content">
            <main>
                {# (Jinja comment) The block below will be replaced by each of the pages #}
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
    <footer>
        <p>© Copyright Yi-jung's UCD Ireland Python Assignment 2024. All Rights Reserved. Please <a href="https://www.linkedin.com/in/yijung-chen-5052a4a4/">Contact Me</a> for further queries.</p>
    </footer>
</body>
</html>