{% extends "base.html" %}
{% set active_page = "questionnaire" %}

{% block additional_js %}
    <script src="/static/js/script_questionnaire.js"></script>
{% endblock %}

{% block main %}
<div class="display-layout">
    <h1>Questionnaire</h1>
    <div class="question-container">
        <!-- <form id="questionnaireform" action="{{ url_for('questionnaire_submit') }}" method="POST" name="mainform"> -->
            <form id="questionnaireform" method="POST" name="mainform">
            {% for qustion in questions.values() %}
            <div id="question-section-{{ qustion.questionnaire_id }}" class="question-section">
                <fieldset>
                    <legend id="error-{{ qustion.questionnaire_id }}" class="error"></legend>
                    <table class="questionnaire-table">
                        <tbody id="questionnaire-context-list">
                            <tr>
                                <td rowspan="6"><img src="/static/images/{{ qustion.image_name }}" alt="{{ qustion.image_alt }}"></td>
                                <td class="questionnaire-right"><label>{{ qustion.questionnaire_id }}. {{ qustion.question }}</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="{{ qustion.group_name }}" value="Rarely">
                                        Rarely
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="{{ qustion.group_name }}" value="Occasionally">
                                        Occasionally
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="{{ qustion.group_name }}" value="Frequently">
                                        Frequently
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="{{ qustion.group_name }}" value="Very Frequently">
                                        Very Frequently
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="{{ qustion.group_name }}" value="Daily">
                                        On A Daily Basis
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div id="error-{{ qustion.questionnaire_id }}" class="error"></div> -->
                </fieldset>
            </div>
            {% endfor %}
            <div class="btn-submit">
                <button class="btn btn-primary" type="submit" name="btnSubmit">Confirm</button>
            </div>
        </form>
        <div class="popup">
            <img src="/static/images/dumplings.jpg" alt="success">
            <h2>Thank you!</h2>
            <p>Please click the button to submit your answers!</p>
            <button type="button" class="btn btn-success" onclick="popupClose()">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
